<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <!-- The meta line makes the page responsive on mobiles/tablets  -->
        <title>
            Project Name
        </title>
    </head>
    <body>
