<%- include('partials/header') %>

<div class="container">
    <div id="about-us-image"></div>
    <div class="row mt-5">
        <div class="col-12 col-lg-6 d-flex align-items-center">
            <h1 class="about-h1">
                We are a group of college students who want to help tackle the problem of elder isolation. This website is one way in which technology can be used to help battle such problems. 
            </h1>
        </div>
        <div class="col-12 col-lg-6">
            <img src="Images/About Us Small.jpg" class="rounded-circle" />
        </div>
    </div>
</div>

<%- include('partials/footer') %>
