<%- include('partials/header') %>

<style>
    .conclusion-h2 {
  font-family: Roboto;
  font-weight: 900;
  font-style: italic;
  font-size: 3rem;
  margin-top: 5%;
}

.conclusion-h4 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 5%;
}

.conclusion-col-4 {
  font-family: Roboto;
  font-style: italic;
  height: 5rem;
}

.conclusion-col-4 > a {
  border-radius: 50px;
  background-color: #29a5ff;
  color: black;
  font-weight: 600;
  font-size: 1.3rem;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

</style>

<% let conclusion; %> 

<% if(data.score <= -15){ %>
    <% conclusion = "The person who has written this is very pessimistic about this topic. He/She probably should " %> 
    <% conclusion += "talk to a professional and resolve his/her issues in relation to this topic. " %> 
<% } %>

<% if(data.score > -15 && data.score < -10){ %>
    <% conclusion = "The person who has written this seems mildly troubled about this topic. His/Her overall emotions are" %> 
    <% conclusion += " negative and it would be a good idea for him/her to talk to just talk about this." %> 
<% } %>

<% if(data.score > -10 && data.score < -5){ %>
    <% conclusion = "We can see from the score that the person writing/speaking about this has some unresolved issues when it comes to this topic. " %> 
    <% conclusion += "The best thing for him/her to do would be to talk about this with someone and work it out spiritually." %> 
<% } %>

<% if(data.score > -5 && data.score < 0){ %>
    <% conclusion = "The person writing/speaking about this topic seems to have an overall negative vibe when it comes to this topic. It doesn't seem as " %> 
    <% conclusion += "severe and these issues can probably be resolved by talking about them and helping him/her gain a more positive perspective about this topic." %> 
<% } %>

<% if(data.score === 0){ %>
    <% conclusion = "The person seems to have no particular positive or negative emotions when it comes to this topic." %> 
<% } %>

<% if(data.score > 0 && data.score <= 5){ %>
    <% conclusion = "The person has overall positive emotions associated with this topic, but it could be possible that there are some " %> 
    <% conclusion += "unresolved issues in the background. It would be best to bring this topic up in conversation and handle " %> 
    <% conclusion += "the situation accordingly. " %> 
<% } %>

<% if(data.score > 5 && data.score <= 10){ %>
    <% conclusion = "The person writing/speaking about this has positive emotions associated with this topic and seems content with the time" %> 
    <% conclusion += "he/she has spent living those moments. This topic can be used as a mood shifter if that person ever seems upset." %> 
<% } %>

<% if(data.score > 10 && data.score <= 15){ %>
    <% conclusion = "This topic is a definite mood lifter and should be brought up to remind the person writing/speaking about this, of the \"good old " %> 
    <% conclusion += "days\".  " %> 
<% } %>

<% if(data.score > 15){ %>
    <% conclusion = "The person who has written this is very optimistic about this topic. He/She doesn't seem" %> 
    <% conclusion += " to have any negative thoughts in relation to this topic. This topic can be used a mood lifter because of the overall positivity associated with it." %> 
<% } %>

<div class="container">
    <div class="text-center">
        <h2 class="conclusion-h2">
            <%= conclusion %>
        </h2>        
        <h4 class="conclusion-h4">
            The score is <%= data.score %>
        </h4> 
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-4 conclusion-col-4">
                <a href="/list" class="btn w-100 h-100 d-flex align-items-center justify-content-center">
                    Go Back To Topics Page
                </a>
            </div>
        </div>       
    </div>
</div>

<%- include('partials/footer') %>
