<%- include('partials/header') %>

<style>
    .conclusion-h2 {
  font-family: Roboto;
  font-weight: 900;
  font-style: italic;
  font-size: 3rem;
  margin-top: 5%;
}

.conclusion-h4 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 5%;
}

.conclusion-col-4 {
  font-family: Roboto;
  font-style: italic;
  height: 5rem;
}

.conclusion-col-4 > a {
  border-radius: 50px;
  background-color: #29a5ff;
  color: black;
  font-weight: 600;
  font-size: 1.3rem;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

</style>

<% let conclusion; %> 

<% if(data.score <= -15){ %>
    <% conclusion = "Hello There -5-0" %> 
<% } %>

<% if(data.score > -15 && data.score < -10){ %>
    <% conclusion = "Hello There -5-0" %> 
<% } %>

<% if(data.score > -10 && data.score < -5){ %>
    <% conclusion = "Hello There -5-0" %> 
<% } %>

<% if(data.score > -5 && data.score < 0){ %>
    <% conclusion = "Hello There -5-0" %> 
<% } %>

<% if(data.score === 0){ %>
    <% conclusion = "Hello There 0" %> 
<% } %>

<% if(data.score > 0 && data.score <= 5){ %>
    <% conclusion = "Hello There 0-5" %> 
<% } %>

<% if(data.score > 5 && data.score <= 10){ %>
    <% conclusion = "Hello There 5-10" %> 
<% } %>

<% if(data.score > 10 && data.score <= 15){ %>
    <% conclusion = "Hello There 10-15" %> 
<% } %>

<% if(data.score > 15){ %>
    <% conclusion = "Hello There 15+" %> 
<% } %>

<div class="container">
    <div class="text-center">
        <h2 class="conclusion-h2">
            <%= conclusion %>
        </h2>        
        <h4 class="conclusion-h4">
            The score is <%= data.score %>
        </h4> 
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-4 conclusion-col-4">
                <a href="/list" class="btn w-100 h-100 d-flex align-items-center justify-content-center">
                    Go Back To Topics Page
                </a>
            </div>
        </div>       
    </div>
</div>

<%- include('partials/footer') %>
