<%- include('partials/header') %>

<div class="container mt-4">
    <div class="row text-center text-lg-center d-flex align-items-center">
        <div class="col-lg-6">
            <img style="width: 90%; border-radius: 20px;" src="https://images.unsplash.com/photo-1422015347944-9dd46d16bd0b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjF8fGVsZGVyc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image of an elderly person">
        </div>
        <div class="col-lg-6">
            <p style="font-size: 15px">
                With evolving intergenerational dynamics and a rapid increase in nuclear family structures; senior isolation, empty nest syndrome, among other issues are on the rise. This physically isolates the elderly and also gives them the feeling that they are unable to keep up with what seems to be an entirely different culture to them. Having witnessed a paradigm shift in lifestyle over the years, there is either a feeling of falling short of current social norms or a strong sense of disapproval. A lack of interaction between the younger and older generations only serves to worsen the issue. In extreme cases, what begins as a lost sense of purpose can lead to a loss of self-concept or even the will to live. Through aiding them in communicating more effectively, we not only assist them in expressing themselves more efficiently, but we also encourage them to participate more actively in interactions, allowing for an emotional as well as an intellectual exchange.
            </p>
        </div>
    </div>
    <div class="row text-center text-lg-center my-5 d-flex align-items-center justify-content-center">
        <div class="col-12">
            <p>Click here for a list of  conversation starters and topics on which
                we perform sentiment analysis</p>
            <a href="/list" class="btn btn-outline-dark btn-lg w-100">
                List Of Topics
            </a>
        </div>
    </div>
    <div class="row text-center text-lg-center mt-3 d-flex align-items-center">
        <div class="col-lg-6">
            <p style="font-size: 16px">
                Our website is a medium for the youth of today and it makes it easier for them 
                to connect with elders, either at their home, or at a nursery. We use sophisticated
                machine learning libraries to analyse text. From that analysis, we can understand the
                feelings of an elderly person, related to that topic.  
            </p>
        </div>
        <div class="col-lg-6">
            <img style="width: 90%; border-radius: 20px;" src="https://images.unsplash.com/photo-1527228867945-aeb853a4d2d5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTl8fGVsZGVyc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image of an elderly person">
        </div>
    </div>
</div>

<%- include('partials/footer') %>
