<%- include('partials/header') %>

<div class="container mt-4">
    <h2 class="landing-h2">Sentiment Analysis</h2>
    <h1 class="landing-h1">
        Our website helps you detect any signs of "unhappiness" by using modern machine learning
        libraries and a robust framework.
    </h1>
    <p class="landing-p">
        A user friendly interface that is designed to help you and any elderly people around you. 
        Perfect for NGOs or essentially, individuals who care.
    </p>
    
    <div class="row">
        <div class="col-4 landing-col-4">
            <a href="/list" class="btn w-100 h-100 d-flex align-items-center justify-content-center" style="border-radius: 50px; background-color: #29A5FF; color: black; font-weight: 600; font-size: 1.3rem;">Help Someone Today</a>
        </div>
    </div>

    <div class="row text-center text-lg-center mt-5 d-flex align-items-center">
        <div class="col-lg-6">
            <p>
                With evolving intergenerational dynamics and a rapid increase in nuclear family structures; senior isolation,
                empty nest syndrome, among other issues are on the rise. Our website is a sincere attempt to tackle those issues.
                <!-- This physically isolates the elderly and 
                also gives them the feeling that they are unable to keep up with what seems to be an entirely different 
                culture to them. Having witnessed a paradigm shift in lifestyle over the years, there is either a feeling of 
                falling short of current social norms or a strong sense of disapproval. A lack of interaction between the 
                younger and older generations only serves to worsen the issue. In extreme cases, what begins as a lost sense 
                of purpose can lead to a loss of self-concept or even the will to live. Through aiding them in communicating 
                more effectively, we not only assist them in expressing themselves more efficiently, but we also encourage 
                them to participate more actively in interactions, allowing for an emotional as well as an intellectual 
                exchange. -->
            </p>

        </div>
        <div class="col-lg-6">
            <img style="border-radius: 100%;" src="Images/Landing First.jpg" alt="Image of an elderly person">
        </div>
    </div>
    
    <div class="row text-center text-lg-center mt-5 d-flex align-items-center">
        <div class="col-lg-6">
            <img class="rounded-circle" src="Images/Landing Second.jpg" alt="Image of an elderly person">
        </div>
        <div class="col-lg-6">
            <p>
                Our website is a medium for the youth of today and it makes it easier for them 
                to connect with elders, either at their home, or at a nursery. We use sophisticated
                machine learning libraries to analyse text. From that analysis, we can understand the
                feelings of an elderly person, related to that topic.  
            </p>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
