<%- include('partials/header') %>

    <h1>LISTENING PAGE</h1>
    <h3>Click the button below to record yourself.</h3>
    <!-- <form method="GET" action="/conclusion"> -->
        <!-- <a href="/conclusion" id="myBtn">Record</a> -->
        <button id="myBtn">Record</button>
    <!-- </form> -->
    <h3>The recording will stop if you take a long pause.</h3>
    <h4>Whatever you say will be recorded and a conclusion will be drawn on that basis.</h4>

    <script src="recognition.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<%- include('partials/footer') %>
