<%- include('partials/header') %>

<div class="container text-center">
    <h1 class="display-3">LISTENING PAGE</h1>
    <h3 class="display-4">Click the button below to record yourself.</h3>
    <button id="myBtn" class="btn btn-outline-dark w-100 my-3">Record</button>
    <h3 class="display-4">The recording will stop if you take a long pause.</h3>
    <h4 class="display-4">Whatever you say will be recorded and a conclusion will be drawn on that basis.</h4>
</div>
    

    <script src="recognition.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<%- include('partials/footer') %>
